// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.perfumes{
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container-sindan{
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
    
}
.col-6 input{
    width: 30px;
    height: 30px;
}

.sindanbotan{
    text-align: center;
    margin-top: 30px;
    size: 40px;
    
}

.sindanbotan input{
    width: 300px;
    background-color: rgb(158, 239, 158);
    font-size: 30px;
}

.intoro{
    text-align: center;
    padding-top: 95px;
}

.tweet{
    text-align: center;
}

.sign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.edit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}